dist
dist-*
cabal-dev
*~
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
dist-new/
cabal.project.local
.HTF/

*.cabal

.git.save
.devcontainer/.env
.devcontainer/stack-conf/config.yaml
